/* ===== Barcode Print  ===== */
@media print {
    @page {
        margin: 0;
        padding: 0;
        size: portrait;
    }

    body, html {
        margin: 0;
        padding: 0;
    }

    .barcode-print-label-box {
        margin: 0;
        padding: 0;
        page-break-before: always;
    }

    .barcode-print-label-box:first-child {
        page-break-before: avoid;
    }
}
